<!DOCTYPE html>
<html>
    <head>
        <title>Chat app</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css")}}"
    </head>

    <body>
        <div class="main">
            <div class="left"></div>
            <div class="right">
                <h1>Welcome to chat app {{ username }}!</h1>
                <div class="screen">

                </div>
                <div class="input-box">

                </div>
            </div>
        </div>
    </body>
</html>